.main {
  background: rgb(245, 245, 245);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-family: 'Lexend Deca', sans-serif;
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      text-transform: capitalize;
      max-width: 684px;
      text-align: center;

      span {
        color: rgba(241, 121, 0, 1);
      }
    }

    .main-search {
      position: relative;

      input {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 730px;
        padding: 16px;
        border: none;
        border-radius: 16px;
        background: rgba(57, 57, 57, 0.05);
        box-sizing: border-box;
        outline: none;
      }

      &::after {
        content: '';
        background-image: url("/assets/images/icons/search.png");
        background-size: cover;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 8px;
        right: 16px;
      }

      &::placeholder {
        color: rgba(57, 57, 57, 0.5);
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .main-gallery {
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      text-align: center;

      .main-gallery__pre-title {
        color: rgb(224, 164, 73);
        font-size: 16px;
        margin-top: 120px;
      }

      .main-gallery__title {
        color: rgb(57, 57, 57);
        font-size: 32px;
        margin-bottom: 40px;
      }

      .main-gallery-cards {
        display: flex;
        gap: 59px;
      }

      .pagination-pages {
        margin-top: 94px;
        margin-bottom: 120px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        svg {
          cursor: pointer;
        }

        .pagination-page {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 18px;
          font-weight: 300;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          cursor: pointer;

          &.active {
            font-weight: 600;
            border-radius: 4px;
            background: rgb(241, 121, 0);
            color: rgb(255, 255, 255);
          }
        }
      }
    }

    .other-gallery {
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      text-align: center;

      .other-gallery__pre-title {
        color: rgb(224, 164, 73);
        font-size: 16px;
        margin-top: 120px;
      }

      .other-gallery__title {
        color: rgb(57, 57, 57);
        font-size: 32px;
        margin-bottom: 40px;
      }

      .small-cards {
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 120px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main {
    .container {
      .main-gallery {
        .main-gallery-cards {
          gap: 30px;

          .main-gallery-card {
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    .container {
      .main-gallery {
        .main-gallery-cards {
          gap: 30px;

          .main-gallery-card {
            display: none;
            &:first-child {
              display: flex;
            }
          }
        }
      }
    }
  }
}
