<section class="main">
  <div class="container">
      <h1 class="main-title">Let's Find Some <span>Art</span> Here!</h1>
      <div class="main-search">
        <input type="text" placeholder="Search art, artist, work...">
      </div>
      <section class="main-gallery">
        <div class="main-gallery__pre-title">Topics for you</div>
        <div class="main-gallery__title">Our special gallery</div>
        <gallery-card class="main-gallery-cards"></gallery-card>
        <div class="pagination-pages">
          <a class="pagination-page" >1</a>
          <a class="pagination-page" >2</a>
          <a class="pagination-page" >3</a>
          <a class="pagination-page" >4</a>
          <div class="pagination-arrow">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.46791 13.7144L3 15L9.42788 7.33956L8.9266 6.91893L8.94602 6.89579L1.28558 0.467911L-1.07377e-07 2L6.62963 7.56292L1.46791 13.7144Z" fill="#393939"/>
            </svg>
          </div>
        </div>
      </section>
    <section class="other-gallery">
      <div class="other-gallery__pre-title">Topics for you</div>
      <div class="other-gallery__title">Our special gallery</div>
      <small-card class="small-cards"></small-card>
    </section>
  </div>
</section>
