.details {
  margin: 120px 0;
  .container {
    display: flex;
    gap: 80px;

    .details-image {
      width: 497px;
      height: 570px;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;

      .details-add-to-favorites {
        position: absolute;
        border: none;
        background: rgb(249, 249, 249);
        border-radius: 50%;
        width: 59px;
        height: 59px;
        align-content: center;
        cursor: pointer;
        text-align: center;
        right: 16px;
        top: 16px;

        &.active {
          background: rgba(251, 215, 178, 0.3);
        }
      }
    }

    .details-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: Lexend Deca, sans-serif;
      font-weight: 400;
      color: rgb(57, 57, 57);
      max-width: 640px;

      .details-text-about {

        .details-about-description {
          font-size: 32px;
          margin-bottom: 32px;
        }

        .details-about-name {
          color: rgb(224, 164, 73);
          font-size: 24px;
          margin-bottom: 16px;
        }

        .details-about-age {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .details-text-overview {
        display: flex;
        flex-direction: column;
        gap: 16px;

        span {
          color: rgb(224, 164, 73);
        }

        h1 {
          font-size: 32px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
