<div class="gallery-card" >
  <div class="gallery-card-image" style="background-image: url('/assets/images/galley_image.png')">
  </div>
  <div class="gallery-card-description">
    <div class="gallery-card-description-text">
      <div class="gallery-card-description__name">Charles V, bust length...</div>
      <div class="gallery-card-description__author">Giovanni Britto</div>
      <div class="gallery-card-description__state">Public</div>
    </div>
    <div class="gallery-card-description-favorites">
      <button>
        <img src="/assets/images/icons/bookmark.png" alt="favorites">
      </button>
    </div>
  </div>
</div>


<div class="gallery-card" >
  <div class="gallery-card-image" style="background-image: url('/assets/images/galley_image.png')">
  </div>
  <div class="gallery-card-description">
    <div class="gallery-card-description-text">
      <div class="gallery-card-description__name">Charles V, bust length...</div>
      <div class="gallery-card-description__author">Giovanni Britto</div>
      <div class="gallery-card-description__state">Public</div>
    </div>
    <div class="gallery-card-description-favorites">
      <button>
        <img src="/assets/images/icons/bookmark.png" alt="favorites">
      </button>
    </div>
  </div>
</div>


<div class="gallery-card" >
  <div class="gallery-card-image" style="background-image: url('/assets/images/galley_image.png')">
  </div>
  <div class="gallery-card-description">
    <div class="gallery-card-description-text">
      <div class="gallery-card-description__name">Charles V, bust length...</div>
      <div class="gallery-card-description__author">Giovanni Britto</div>
      <div class="gallery-card-description__state">Public</div>
    </div>
    <div class="gallery-card-description-favorites">
      <button>
        <img src="/assets/images/icons/bookmark.png" alt="favorites">
      </button>
    </div>
  </div>
</div>


