.gallery-card {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 244px;

  .gallery-card-image {
    width: 387px;
    height: 444px;
  }

  .gallery-card-description {
    position: absolute;
    width: 286px;
    height: 90px;
    padding: 21px 24px;
    background: rgb(255, 255, 255);
    bottom: -70px;
    left: calc(50% - 170px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .gallery-card-description-text {
      font-family: Lexend Deca, sans-serif;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .gallery-card-description__name {
        font-size: 18px;
        font-weight: 500;
      }
      .gallery-card-description__author {
        font-size: 15px;
        font-weight: 400;
        color: rgba(224, 164, 73, 1);
        margin-bottom: 12px;
      }
      .gallery-card-description__state {
        font-size: 15px;
        font-weight: 700;
      }
    }

    .gallery-card-description-favorites {
      button {
        border: none;
        background: rgb(249, 249, 249);
        border-radius: 50%;
        width: 59px;
        height: 59px;

        &:hover {
          background: rgba(251, 215, 178, 0.3);
          cursor: pointer;
        }
      }
    }
  }
}
