<form class="search">
  <input type="text" placeholder="Search art, artist, work..." [formControl]="searchControl"/>
  <ol>
    @if (searchControl.hasError('specialCharactersOnly')) {
      <li>Нельзя вводить только спецсимволы. Пожалуйста, введите корректный текст.</li>
    } @else {
      @for (art of searchArts | slice: 1 : 5; track art) {
        <li tabindex="0" (click)="getMore(art.id)"
            (keydown.enter)="getMore(art.id)"
        >
          {{ art.title }}
        </li>
      }
    }
  </ol>
</form>
